<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>CFBundleDevelopmentRegion</key>
<string>$(DEVELOPMENT_LANGUAGE)</string>
<key>CFBundleExecutable</key>
<string>$(EXECUTABLE_NAME)</string>
<key>CFBundleIdentifier</key>
<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
<key>CFBundleInfoDictionaryVersion</key>
<string>6.0</string>
<key>CFBundleName</key>
<string>$(PRODUCT_NAME)</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleShortVersionString</key>
<string>$(MARKETING_VERSION)</string>
<key>CFBundleSignature</key>
<string>????</string>
<key>CFBundleVersion</key>
<string>$(CURRENT_PROJECT_VERSION)</string>
<key>LSRequiresIPhoneOS</key>
<true/>
<key>UILaunchScreen</key>
<dict/>
<key>UISupportedInterfaceOrientations</key>
<array>
	<string>UIInterfaceOrientationPortrait</string>
</array>
<key>UISupportedInterfaceOrientations~ipad</key>
<array>
	<string>UIInterfaceOrientationPortrait</string>
	<string>UIInterfaceOrientationPortraitUpsideDown</string>
	<string>UIInterfaceOrientationLandscapeLeft</string>
	<string>UIInterfaceOrientationLandscapeRight</string>
</array>
<key>API_BASE_URL</key>
<string>https://chalkak-dev.pysun.kr/api/v1/</string>
	<key>NSCameraUsageDescription</key>
	<string>사진을 촬영해 전시하려면 카메라 접근이 필요해요.</string>
	<key>GOOGLE_IOS_CLIENT_ID</key>
	<string>494523834439-9v8c1nbhdhvujrnfh95b61vc7hsjamad.apps.googleusercontent.com</string>
	<key>GOOGLE_SERVER_CLIENT_ID</key>
	<string>494523834439-4cada9kqqfcg7gtl01d8eil5ueuaee8i.apps.googleusercontent.com</string>
	<key>GOOGLE_REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494523834439-9v8c1nbhdhvujrnfh95b61vc7hsjamad</string>
	<key>KAKAO_NATIVE_APP_KEY</key>
	<string>632c5aa292a4b0fb5b8603bcead9524d</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaokompassauth</string>
		<string>kakaolink</string>
		<string>kakaoplus</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao632c5aa292a4b0fb5b8603bcead9524d</string>
				<string>com.googleusercontent.apps.494523834439-9v8c1nbhdhvujrnfh95b61vc7hsjamad</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
