SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=chalkak
DB_USERNAME=chalkak
DB_PASSWORD=REPLACE_WITH_A_LONG_RANDOM_PASSWORD

AWS_REGION=ap-northeast-2
S3_BUCKET=techcourse-project-2026
S3_PREFIX=chalkak/dev
CLOUDFRONT_BASE_URL=https://REPLACE_WITH_CLOUDFRONT_DOMAIN
